/* body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #007bff;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("../img/fondaso.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.registro {
    background: linear-gradient(to bottom, #CC4712, #662409);
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    width: 350px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    color: white;
}

.registro h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.registro label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-size: 16px;
}

.registro input {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: white;
}

.registro input:focus {
    border-color: blueviolet;
    outline: none;
}


.registro #btnParaRegistrar {
    width: calc(50% - 10px); 

    background-color: #0D1ED9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.registro #btnParaRegistrar:hover {
    background-color: blueviolet;
}

.login-link{
    margin-top: 15px;
}

.login-link p {
  
    font-size: 14px;
    color: gray;
}

.loginLink {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: blueviolet;
    border: 1px solid blueviolet;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

.loginLink:hover {
    background-color: blueviolet;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
